#logomarca {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h1,
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
a:link {
  color: rgb(0, 0, 0);
}
a:visited {
  color: rgba(123, 37, 134, 0.808);
}
a:hover {
  color: rgb(173, 2, 150);
}
a:active {
  color: rgb(174, 0, 255);
}
a {
  background-image: url(img/globo.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}
.nota {
  color: rgb(102, 7, 89);
  opacity: 0.5;
  background-color: rgb(215, 98, 245);
  border-radius: 5px;
}
.nota > strong {
  color: rgb(199, 0, 182);
}
.passo {
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  border-radius: 5px;
  background-color: rgb(199, 137, 235);
}
.em {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
.passo > strong {
  background-color: rgb(185, 69, 231);
  padding: 5px;
}
body {
  padding: 8px;
  margin-left: 80px;
  margin-right: 80px;
  background: rgb(157,40,153);
  background: radial-gradient(circle, rgba(157,40,153,0.938813025210084) 28%, rgba(91,51,110,0.9640231092436975) 57%);
}